<div class="section section-basic" id="basic-elements">
        <div class="container">
           
          <div class="space-70"></div>
          <div id="contenedor-form-contacto">
            <form id="form-contacto" enctype="application/x-www-form-urlencoded">
                <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                  <input type="text" value="" name="nombre" placeholder="Regular" class="form-control" />
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="form-group has-success">
                  <input type="text" value="Success" name="edad" class="form-control form-control-success" />
                </div>
              </div>
            
              <div class="col-sm-6 col-lg-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                  </div>
                  <input type="text" name="email" class="form-control" placeholder="Left Font Awesome Icon">
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="input-group">
                  <input type="text" class="form-control" name="domicilio" placeholder="Right Nucleo Icon">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="now-ui-icons users_single-02"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <input class="form-control btn" type="submit">
            </div>
            
            </form>
                       
            
          </div>
          
        </div>
</div>

<script>
  document.getElementById("form-contacto")
    .addEventListener('submit', evt => {
      evt.preventDefault()
      const form = evt.target
      const body = JSON.stringify({
        nombre: form.nombre.value,
        email: form.email.value,
        domicilio: form.domicilio.value,
        edad: form.edad.value
      })
      const headers = {'Content-Type':'application/json'}

      const contenedor = document.getElementById("contenedor-form-contacto")

      fetch('process', {method:'post', body, headers})
        .then(resp =>{
          if(resp.status <200  || resp.status >=300)
            throw new Error('La petición falló con un código: '+resp.status)
          return resp.json()  
        }).then(json=>{
          contenedor.innerHTML = "<b>Gracias por contactarte!</b>"
        }).catch(err =>{
          contenedor.innerHTML = "<b>Hubo un problema con el procesamiento del formulario</b>"
        })
    })
</script>
      
      
      
      
      
      
     
      
      
      